{% extends "website/base.html" %}
{% load static %}
{% load i18n %}
{% block headers %}
<title>Web Guru Solutions</title>

{% endblock headers %}

{% block body %}
<!-- start preLoader -->
  <div id="preloader">
    <svg id="mainSVG" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 800 600">
      <defs>
        <radialGradient id="mainGrad" cx="400" cy="300" fx="400" fy="300" r="100" gradientUnits="userSpaceOnUse">
          <stop offset=".68" stop-color="#21df51" />
          <stop offset=".72" stop-color="#3add63" />
          <stop offset=".77" stop-color="#4fdd73" />
          <stop offset=".82" stop-color="#66db83" />
          <stop offset=".88" stop-color="#7cd893" />
          <stop offset=".93" stop-color="#95d8a6" />
          <stop offset=".99" stop-color="#bde6c7" />
          <stop offset="1" stop-color="#e3f1e7" />
        </radialGradient>
      </defs>
      <circle id="fillDot" cx="400" cy="300" fill="#21df51" r="100" />
      <circle id="gradDot" cx="400" cy="300" fill="url(#mainGrad)" r="100" />
    </svg>
  </div>
  <!-- end preLoader -->

  <!-- start scroll to top button -->
  <div id="progress">
    <span id="progress-value"><i class="bi bi-arrow-up-short"></i></span>
  </div>
  <!-- end scroll to top button -->


  

  <!-- ======= srart Breadcrumbs ======= -->
  <section class="breadcrumbs py-4" data-aos="fade-up" data-aos-delay="100">
    <div class="container">
      <ol>
        <li><a href="index.html">{% trans 'Home' %}</a></li>
        <li>{% trans 'contact' %}</li>
      </ol>
      <h2 class="title">contact us</h2>
      <p class="col-lg-10 col-12">
        {% trans 'Your goals- our mission' %}
      </p>
    </div>
  </section><!-- End Breadcrumbs -->



  {% include 'website/contact_us.html' %}
  {% include 'website/faq.html' %}

  {% endblock body %}