{% load static %}
{% load i18n %}

  <!-- ============== Start portfolio section ========== -->

  <section class="container portfolio py-5 w-100" id="portfolio">
    <div class="heading">
      <h4 class="pretitle" data-aos="fade-up">
        portfolio
      </h4>
      <h1 class="title col-12" data-aos="fade-up" data-aos-delay="100">
        our portfolio
      </h1>
    </div>
    <ul class="filters  d-flex justify-content-center align-items-center my-4" data-aos="fade-up" data-aos-delay="150">
      <li class="nav-item portfolio-btn active">
        <a class="nav-link" data-filter="*">All</a>
      </li>
      <li class="nav-item portfolio-btn mx-lg-3 mx-1">
        <a class="nav-link" data-filter=".mobile">Mobile</a>
      </li>
      <li class="nav-item portfolio-btn mx-lg-3 mx-1">
        <a class="nav-link" data-filter=".data">Data</a>
      </li>
      <li class="nav-item portfolio-btn mx-lg-3 mx-1 ">
        <a class="nav-link" data-filter=".web">Web</a>
      </li>
    </ul>
    <div class="row w-100 portfolio-row gy-4 gx-4" data-aos="fade-up" data-aos-delay="150">
      <div class="col-md-6  col-lg-4 mx-auto mobile ">
        <a href="images/portfolio/1.jpg" class="gallery-item" data-fancybox="gallery" data-caption="MOBILE">
          <div class="portfolio-item">
            <img src="images/portfolio/1.jpg" class="gallery-item" alt="portfolio-img">
            <div class="img-overlay">
              <div class="content">
                <h3>tansiApp</h3>
                <h6>mobile application</h6>
                <div class="d-flex tags my-2">
                  <span>#react</span>
                  <span>#HTML</span>
                  <span>#next_js</span>
                  <span>#node</span>
                </div>
                <h4><a class="unique-text" href="portfolio-single.html"><i class="bi bi-eye-fill mx-2"></i>view
                    project</a></h4>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class=" col-md-6  col-lg-4 mx-auto mobile">
        <a href="images/portfolio/2.jpg" class="gallery-item" data-fancybox="gallery"
          data-caption="tansiApp | mobile application">
          <div class="portfolio-item">
            <img src="images/portfolio/2.jpg" class="gallery-item" alt="portfolio-img">
            <div class="img-overlay">
              <div class="content">
                <h3>tansiApp</h3>
                <h6>mobile application</h6>
                <div class="d-flex tags col-10 my-2">
                  <span>#js</span>
                  <span>#HTML</span>
                  <span>#next_js</span>
                  <span>#node</span>
                </div>
                <h4><a class="unique-text" href="portfolio-single.html"><i class="bi bi-eye-fill mx-2"></i>view
                    project</a></h4>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class=" col-md-6  col-lg-4 mx-auto web">
        <a href="images/portfolio/3.jpg" class="gallery-item" data-fancybox="gallery"
          data-caption="imolas | mobile application">
          <div class="portfolio-item">
            <img src="images/portfolio/3.jpg" alt="portfolio-img">
            <div class="img-overlay">
              <div class="content">
                <h3>imolas</h3>
                <h6>mobile application</h6>
                <div class="d-flex tags my-2">
                  <span>#redux</span>
                  <span>#HTML</span>
                  <span>#next_js</span>
                  <span>#gsap</span>
                </div>
                <h4><a class="unique-text" href="portfolio-single.html"><i class="bi bi-eye-fill mx-2"></i>view
                    project</a></h4>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-6  col-lg-4 mx-auto data web ">
        <a href="images/portfolio/4.png" class="gallery-item" data-fancybox="gallery"
          data-caption="abertonApp | mobile application">
          <div class="portfolio-item">
            <img src="images/portfolio/4.png" alt="portfolio-img">
            <div class="img-overlay">
              <div class="content">
                <h3>abertonApp</h3>
                <h6>mobile application</h6>
                <div class="d-flex tags my-2">
                  <span>#react</span>
                  <span>#HTML</span>
                  <span>#next_js</span>
                  <span>#node</span>
                </div>
                <h4><a class="unique-text" href="portfolio-single.html"><i class="bi bi-eye-fill mx-2"></i>view
                    project</a></h4>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="  col-md-6  col-lg-4 mx-auto hosting web  ">
        <a href="images/portfolio/5.jpeg" class="gallery-item" data-fancybox="gallery"
          data-caption="taknaruytApp | web application">
          <div class="portfolio-item">
            <img src="images/portfolio/5.jpeg" alt="portfolio-img">
            <div class="img-overlay">
              <div class="content">
                <h3>taknaruytApp</h3>
                <h6>web application</h6>
                <div class="d-flex tags my-2">
                  <span>#react</span>
                  <span>#PHP</span>
                  <span>#next_js</span>
                  <span>#node</span>
                </div>
                <h4><a class="unique-text" href="portfolio-single.html"><i class="bi bi-eye-fill mx-2"></i>view
                    project</a></h4>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="  col-md-6  col-lg-4 mx-auto data">
        <a href="images/portfolio/6.jpg" class="gallery-item" data-fancybox="gallery"
          data-caption="bodihApp | web application">
          <div class="portfolio-item">
            <img src="images/portfolio/6.jpg" alt="portfolio-img">
            <div class="img-overlay">
              <div class="content">
                <h3>bodihApp</h3>
                <h6>web application</h6>
                <div class="d-flex tags my-2">
                  <span>#react</span>
                  <span>#HTML</span>
                  <span>#ruby</span>
                  <span>#node</span>
                </div>
                <h4><a class="unique-text" href="portfolio-single.html"><i class="bi bi-eye-fill mx-2"></i>view
                    project</a></h4>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </section>
  <!-- ============== End portfolio section ========== -->